.content {
    text-align: center;
    color: #fff;
}

.title {
    color: #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 38px;
    margin-top: 20px;
}

.subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 38px;
}

.connectButton {
    width: 25rem;
    color: #0046AF;
    background: #fff;
}
