.idea
.vscode

node_modules
modules/web-dapp/.env
build

# ignore package-lock.json files in modules
# npm installation should be done at the root directory like: npm install <npm-package-name> -w <module-name>
modules/**/package-lock.json
